
.DS_Store

*.iml

*.bin

*.lock

buildSrc/.gradle/buildOutputCleanup/

buildSrc/build/libs/buildSrc.jar

buildSrc/build/tmp/jar/MANIFEST.MF

.gradle/5.4.1/

.idea/

.gradle/vcs-1/

.gradle/buildOutputCleanup/cache.properties

node_modules/

node_modules/yargs/

node_modules/which/

node_modules/which-module/

node_modules/strip-eof/

node_modules/string-width/
build/
local.properties
